In [30]:
# imports
import panel as pn
pn.extension('plotly')
import plotly.express as px
import pandas as pd
import hvplot.pandas
import matplotlib.pyplot as plt
import numpy as np
import os
from pathlib import Path
from dotenv import load_dotenv

import warnings
warnings.filterwarnings('ignore')

file_path_2010 = Path("../Data/RawData/2010.csv")
file_path_2011 = Path("../Data/RawData/2011.csv")
file_path_2012 = Path("../Data/RawData/2012.csv")
file_path_2013 = Path("../Data/RawData/2013.csv")
file_path_2014 = Path("../Data/RawData/2014.csv")
file_path_2015 = Path("../Data/RawData/2015.csv")
file_path_2016 = Path("../Data/RawData/2016.csv")
file_path_2017 = Path("../Data/RawData/2017.csv")
file_path_2018 = Path("../Data/RawData/2018.csv")
file_path_2019 = Path("../Data/RawData/2019.csv")

data_2010 = pd.read_csv(file_path_2010)
data_2010['Year'] = '2010'
data_2011 = pd.read_csv(file_path_2011)
data_2012 = pd.read_csv(file_path_2012)
data_2013 = pd.read_csv(file_path_2013)
data_2014 = pd.read_csv(file_path_2014)
data_2015 = pd.read_csv(file_path_2015)
data_2016 = pd.read_csv(file_path_2016)
data_2017 = pd.read_csv(file_path_2017)
data_2018 = pd.read_csv(file_path_2018)
data_2019 = pd.read_csv(file_path_2019)

# data_2019.head()

fantasy_points_2010 = data_2010[["Year","Player","FantasyPoints"]]
fantasy_points_2010.head()

   Year           Player  FantasyPoints
0  2010     Arian Foster         392.00
1  2010    Peyton Hillis         294.92
2  2010  Adrian Peterson         275.90
3  2010   Jamaal Charles         282.50
4  2010    Chris Johnson         272.90